.vscode/**
.vscode-test/**
src/**
tests/**
scripts/**
node_modules/**
out/test/**
out/**/*.map
**/*.ts
**/tsconfig.json
**/tsconfig*.json
**/.eslintrc.json
**/.eslintrc.js
**/.editorconfig
**/.gitignore
**/.gitattributes
**/.git/**
**/.npmignore
**/yarn.lock
**/package-lock.json
**/CHANGELOG.md.bak
**/*.log
**/coverage/**
**/.nyc_output/**
**/.DS_Store
**/Thumbs.db
.vscodeignore
